@media screen and (max-width:920px){
    .form-group{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 50px;
      }
      .ticket-fold span{
        font-size: 2rem;
       }
      .ticket-form .textarea-group{
        grid-column: 1/3;
       }
}
